# Virtual Environment
venv/
myVenv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Static collected files
staticfiles/

# OS files
.DS_Store