{% extends 'base.html' %}

{% block content %}

<div class="container report-container">

<h2>Manage Records</h2>

<!-- Error / Success Messages -->
{% if messages %}
{% for message in messages %}
<div class="{% if message.tags == 'error' %}error{% else %}success{% endif %}">
{{ message }}
</div>
{% endfor %}
{% endif %}

<!-- Date Filter Form -->
<form method="POST" style="margin-bottom:20px;">

{% csrf_token %}

<label>Start Date</label>
<input type="date" name="start_date" value="{{ start_date }}">

<label>End Date</label>
<input type="date" name="end_date" value="{{ end_date }}">

<button type="submit">Filter</button>


</form>


{% if records %}
<table class="report-table">

<tr>
<th>Date</th>
<th>One KG</th>
<th>Half KG</th>
<th>One KG Amount</th>
<th>Half KG Amount</th>
<th>Total Amount</th>
<th>Edit</th>
<th>Delete</th>
</tr>

{% for record in records %}

<tr>
<td>{{ record.created_at|date:"d M Y" }}</td>
<td>{{ record.packet_one_kg }}</td>
<td>{{ record.packet_half_kg }}</td>
<td>{{ record.price_one_kg }}</td>
<td>{{ record.price_half_kg }}</td>

<td>
{{ record.price_one_kg|add:record.price_half_kg }}
</td>

<td>
<a href="{% url 'edit_record' record.id %}">Edit</a>
</td>

<td>
<a href="{% url 'delete_record' record.id %}" onclick="return confirm('Delete this record?')">
Delete
</a>
</td>

</tr>

{% endfor %}

</table>

{% endif %}
</div>

{% endblock %}